/*--------------header section start---------------*/ 
.navbar-light .logo{
    color: rgb(95 207 128);
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: rgb(95 207 128);
}
.navbar-nav .nav-item .nav-link:hover{
	color:rgb(95 207 128);
}
.btn{
	border:1px solid rgb(95 207 128) ;
	background-color:rgb(95 207 128);
}
a.btn:hover{
	background-color:rgb(58 193 98);
	color:white;
}
.btn:focus{
	box-shadow:none;
}
/*------------header section end------------------*/
/*---------------contact start-------------------*/
.Contact{
	background-color:rgb(95 207 128);
}
.contact-2{
	width:100%;
}
.info h4{
	padding-left:60px;
}
.info p{
	font-family:"";
	padding-left:60px;
}
.info i{
    top:16%;
	color:rgb(95 207 128);
	background-color:rgb(236 249 240);
}
.name{
	height:130px;
}
.btn-2{
	border:1px solid rgb(95 207 128) ;
	background-color:rgb(95 207 128);
	margin-left: 290px;
}
.form-control:focus {
	box-shadow:none;
	border-color:rgb(95 207 128);
}
/*---------------contact end----------------------*/
/*---------------details start---------------------*/
.details {
   background-color:rgb(249, 250, 249); 
}
.add{
	color:black;
	height:280px;
}
.link1 i{
	color:rgb(95 207 128);
}
.link1 a{
	color:rgb(119 119 119);
}
.link1 a:hover{
	color:rgb(95 207 128);
}
.news form {
    overflow:hidden;
    padding-right:106px;
    margin-right:21px;
	border: 1px solid rgb(224 229 226);
}
.news input {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    border: 1px solid rgb(255 255 255);
}
.news button {
    right:0;
    top:0;
    background-color:rgb(95 207 128);
    color:white;
    cursor:pointer;
    border: 1px solid rgb(95 207 128);
}
.news button:hover{
	background-color:rgb(58, 193, 98);
}
/*---------------details ends----------------------*/
/*---------------media start---------------------*/
.media{
	background-color:rgb(238 240 239);
}
.copyright a{
	color:rgb(95 207 128);
}
.copyright a:hover{
	color:rgb(58, 193, 98);
}
a.text-decoration-none {
    top: 40px;
    left: 94px;
}
.socialmedia {
    text-align: right;
}
.socialmedia a{
	background-color:rgb(95 207 128);
}
.socialmedia a:hover{
	background-color:rgb(58, 193, 98);
}