/*--------------header section start---------------*/
.navbar{
	width:100%;
    position:fixed;
    top:0;
    z-index:2;
}  
.navbar-light .logo{
    color: rgb(95 207 128);
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: rgb(95 207 128);
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(55 66 59);
    font-size: 16px;
    font-weight: 600;
}
.navbar-nav .nav-item .nav-link:hover{
	color:rgb(95 207 128);
}
.dropdown{
	position:relative;
} 
.dropdown-menu{
	position:absolute;
	left:0;
	top:90%;
	min-width:190px;
	background-color:white;
	box-shadow:1px -2px 18px -6px #ccc;
	border-radius:10px;
	text-align:left;
	transform:translateY(20px);
	opacity:0;
	visibility:hidden;
	transition:all 0.5s ease;
}
.dropdown:hover .dropdown-menu{
	transform:translateY(0);
	opacity:1;
	visibility:visible;
}
.dropdown-menu li{
	display:block;
}
.dropdown ul a:hover{
	color:rgb(144 238 144);
}
.dropdown-menu li a{
	text-align:left;
	color:black;
	font-size:14px;
	display:block;
	padding-top:8px;
	padding-bottom:8px;
	padding-left:15px;
	padding-right:15px;
	font-family:"";
}
.dropdown-sub{
	position:relative;
}
.dropdown-nav-sub{
	position:absolute;
	top:0;
	left:100%;
	min-width:100%;
	background-color:white;
	box-shadow:1px -2px 18px -6px #ccc;
	border-radius:10px;
	text-align:left;
	transform:translateX(-15px);
	font-family:"";
	opacity:0;
	visibility:hidden;
	transition:all 0.5s ease;
}
.dropdown-sub:hover .dropdown-nav-sub{
	transform:translateX(0px);
	opacity:1;
	visibility:visible;
}
.btn{
	border:1px solid rgb(95 207 128) ;
	background-color:rgb(95 207 128);
}
a.btn:hover{
	background-color:rgb(58 193 98);
	color:white;
}
.btn:focus{
	box-shadow:none;
}
.footer{
    position:fixed;
    bottom:10px;
    right:10px;
    background-color:rgb(95 207 128);
    height:46px;
    width:46px;
    border-radius:75%;
    z-index:2;
}
.footer a{
	text-decoration:none;
}
.footer i{
    font-size:30px;
    color:white;
    position:absolute;
    top:8px;
	right:8px;
}
/*------------header section end------------------*/
/*---------------contact start-------------------*/
.Contact{
	background-color:rgb(95 207 128);
	margin-top:76px;
}
.contact-2{
	width:100%;
}
.info h4{
	padding-left:60px;
}
.info p{
	font-family:"";
	padding-left:60px;
}
.info i{
    top:16%;
	color:rgb(95 207 128);
	background-color:rgb(236 249 240);
}
.name{
	height:130px;
}
.btn-2{
	border:1px solid rgb(95 207 128) ;
	background-color:rgb(95 207 128);
	margin-left: 290px;
}
.form-control:focus {
	box-shadow:none;
	border-color:rgb(95 207 128);
}
/*---------------contact end----------------------*/
/*---------------details start---------------------*/
.details {
   background-color:rgb(249, 250, 249); 
}
.add{
	color:black;
	height:280px;
}
.link1 i{
	color:rgb(95 207 128);
}
.link1 a{
	color:rgb(119 119 119);
}
.link1 a:hover{
	color:rgb(95 207 128);
}
.form {
    padding-right: 130px;
}
.news input {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    border: 1px solid rgb(255 255 255);
}
.news button {
    right:0;
    top:0;
    background-color:rgb(95 207 128);
    color:white;
    cursor:pointer;
    border: 1px solid rgb(95 207 128);
}
.news button:hover{
	background-color:rgb(58, 193, 98);
}
/*---------------details ends----------------------*/
/*---------------media start---------------------*/
.media{
	background-color:rgb(238 240 239);
}
.design {
    padding-bottom: 20px;
}
.design p{
	margin-bottom:0px;
}
.design a{
	color:rgb(95 207 128);
}
.design a:hover{
	color:rgb(58, 193, 98);
}
.socialmedia {
    text-align: right;
}
.socialmedia a{
	background-color:rgb(95 207 128);
}
.socialmedia a:hover{
	background-color:rgb(58, 193, 98);
}