/*--------------header section start---------------*/ 
.navbar-light .logo{
    color: rgb(95 207 128);
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: rgb(95 207 128);
}
.navbar-nav .nav-item .nav-link:hover{
	color:rgb(95 207 128);
}
.btn{
	border:1px solid rgb(95 207 128) ;
	background-color:rgb(95 207 128);
}
a.btn:hover{
	background-color:rgb(58 193 98);
	color:white;
}
.btn:focus{
	box-shadow:none;
}
/*---------------heading end-----------------------*/
/*---------------courses start----------------------*/
.heading pre{
    color: rgb(170 170 170);
    letter-spacing: 2px;
}
.line{
	background-color:lightgreen;
    height: 1px;
    width:100px;
    margin-top:-32px;
    margin-left:100px;
}
.Courses{
	background-color:rgb(95 207 128);
}
.card-head h6{
    border:1px solid lightgreen;
    color:white;
    background-color:rgb(95, 207, 128);
}
.symbol {
    padding-left: 116px;
}
.symbol span {
	font-family:"Poppins",sans-serif;
}
.card-title:hover{
	color:rgb(95, 207, 128);
}
.card-body p {
    color:rgb(119 119 119);
	font-size:15px;
}
.line1{
	height:1px;
	background-color:rgb(228 221 221);
}
.ico-heart img{
    width: 50px;
    height: 50px;
}
.ico-heart h2 {
    color:grey;
}
.ico-heart span{
	font-family:"Poppins",sans-serif;
}
/*---------------courses end--------------------*/
/*---------------details start---------------------*/
.details {
   background-color:rgb(249, 250, 249); 
}
.add{
	color:black;
	height:280px;
}
.link1 i{
	color:rgb(95 207 128);
}
.link1 a{
	color:rgb(119 119 119);
}
.link1 a:hover{
	color:rgb(95 207 128);
}
.news form {
    overflow:hidden;
    padding-right:106px;
    margin-right:21px;
	border: 1px solid rgb(224 229 226);
}
.news input {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    border: 1px solid rgb(255 255 255);
}
.news button {
    right:0;
    top:0;
    background-color:rgb(95 207 128);
    color:white;
    cursor:pointer;
    border: 1px solid rgb(95 207 128);
}
.news button:hover{
	background-color:rgb(58, 193, 98);
}
/*---------------details ends----------------------*/
/*---------------media start---------------------*/
.media{
	background-color:rgb(238 240 239);
}
.copyright a{
	color:rgb(95 207 128);
}
.copyright a:hover{
	color:rgb(58, 193, 98);
}
a.text-decoration-none {
    top: 40px;
    left: 94px;
}
.socialmedia {
    text-align: right;
}
.socialmedia a{
	background-color:rgb(95 207 128);
}
.socialmedia a:hover{
	background-color:rgb(58, 193, 98);
}
