/*--------------header section start---------------*/
.navbar{
	width:100%;
    position:fixed;
    top:0;
    z-index:2;
}  
.navbar-light .logo{
    color: rgb(95 207 128);
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: rgb(95 207 128);
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(55 66 59);
    font-size: 16px;
    font-weight: 600;
}
.navbar-nav .nav-item .nav-link:hover{
	color:rgb(95 207 128);
}
.dropdown{
	position:relative;
} 
.dropdown-menu{
	position:absolute;
	left:0;
	top:90%;
	min-width:190px;
	background-color:white;
	box-shadow:1px -2px 18px -6px #ccc;
	border-radius:10px;
	text-align:left;
	transform:translateY(20px);
	opacity:0;
	visibility:hidden;
	transition:all 0.5s ease;
}
.dropdown:hover .dropdown-menu{
	transform:translateY(0);
	opacity:1;
	visibility:visible;
}
.dropdown-menu li{
	display:block;
}
.dropdown ul a:hover{
	color:rgb(144 238 144);
}
.dropdown-menu li a{
	text-align:left;
	color:black;
	font-size:14px;
	display:block;
	padding-top:8px;
	padding-bottom:8px;
	padding-left:15px;
	padding-right:15px;
	font-family:"";
}
.dropdown-sub{
	position:relative;
}
.dropdown-nav-sub{
	position:absolute;
	top:0;
	left:100%;
	min-width:100%;
	background-color:white;
	box-shadow:1px -2px 18px -6px #ccc;
	border-radius:10px;
	text-align:left;
	transform:translateX(-15px);
	font-family:"";
	opacity:0;
	visibility:hidden;
	transition:all 0.5s ease;
}
.dropdown-sub:hover .dropdown-nav-sub{
	transform:translateX(0px);
	opacity:1;
	visibility:visible;
}
.btn{
	border:1px solid rgb(95 207 128) ;
	background-color:rgb(95 207 128);
}
a.btn:hover{
	background-color:rgb(58 193 98);
	color:white;
}
.btn:focus{
	box-shadow:none;
}
.footer{
    position:fixed;
    bottom:10px;
    right:10px;
    background-color:rgb(95 207 128);
    height:46px;
    width:46px;
    border-radius:75%;
    z-index:2;
}
.footer a{
	text-decoration:none;
}
.footer i{
    font-size:30px;
    color:white;
    position:absolute;
    top:8px;
	right:8px;
}
/*---------------heading end-----------------------*/
/*---------------courses start----------------------*/
.Courses{
    background-color:rgb(95 207 128);
	margin-top:76px;
}
.card-head h6{
    border:1px solid lightgreen;
    color:white;
    background-color:rgb(95, 207, 128);
}
.symbol {
    padding-left: 116px;
}
.symbol-1 {
    padding-left: 186px;
	font-family:"";
}
.symbol-2 {
    padding-left: 200px;
    font-family: "";
}
.ico-img{
    padding-left: 100px;
}
.ico-img-1{
    padding-left: 132px;
}
i.icofont-ui-user {
    color: grey;
}
i.icofont-heart {
    color: grey;
}
.symbol span {
	font-family:"Poppins",sans-serif;
}
.card-title:hover{
	color:rgb(95, 207, 128);
}
.card-body p {
    color:rgb(119 119 119);
	font-size:15px;
}
.line1{
	height:1px;
	background-color:rgb(228 221 221);
}
.ico-heart img{
    width: 50px;
    height: 50px;
}
.ico-heart h2 {
    color:grey;
}
.ico-heart span{
	font-family:"Poppins",sans-serif;
	color: grey;
}
/*---------------courses end--------------------*/
/*---------------details start---------------------*/
.details {
   background-color:rgb(249, 250, 249); 
}
.add{
	color:black;
	height:280px;
}
.link1 i{
	color:rgb(95 207 128);
}
.link1 a{
	color:rgb(119 119 119);
}
.link1 a:hover{
	color:rgb(95 207 128);
}
.form {
    padding-right: 130px;
}
.news input {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    border: 1px solid rgb(255 255 255);
}
.news button {
    right:0;
    top:0;
    background-color:rgb(95 207 128);
    color:white;
    cursor:pointer;
    border: 1px solid rgb(95 207 128);
}
.news button:hover{
	background-color:rgb(58, 193, 98);
}
/*---------------details ends----------------------*/
/*---------------media start---------------------*/
.media{
	background-color:rgb(238 240 239);
}
.design {
    padding-bottom: 20px;
}
.design p{
	margin-bottom:0px;
}
.design a{
	color:rgb(95 207 128);
}
.design a:hover{
	color:rgb(58, 193, 98);
}
.socialmedia {
    text-align: right;
}
.socialmedia a{
	background-color:rgb(95 207 128);
}
.socialmedia a:hover{
	background-color:rgb(58, 193, 98);
}
