/*--------------header section start---------------*/ 
.logo a{
	font-weight:700;
    color: rgb(58 222 53);
}
/*------------header section end------------------*/
/*------------banner section start-----------------*/
.banner{
    background-image:linear-gradient(180deg, rgba(0, 0, 0, 40%), rgba(0, 0, 0, 40%)),url(../web-assets/hero-bg.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	height:474px;
}
.banner-content{
	padding-top:104px;
}
.banner-content h2{
	font-size:48px;
}
.banner-content p{
	color:rgb(238 238 238);
}
a.butt{
	border: 2px solid rgb(255 255 255);
}
a.butt:hover{
	background-color:rgb(95, 207, 128);
	color:white;
	border-color:rgb(95, 207, 128);
}
/*-------------banner section end-------------------*/
/*---------------number start--------------------*/
.number-section{
	background-color:rgb(245 245 245);
}
.numbers-box span{
	color:rgb(81 199 81/78%);
	font-family:"Poppins",san-serif;
}
/*---------------number end--------------------*/
/*---------------choose start-------------------*/
.ch-content{
	border:1px solid rgb(118 187 118);
	background-color:rgb(95, 207, 128);
}
a.butt1{
    color: white;
    border: 1px solid rgb(95 207 128);
	background-color:rgb(131 207 144);
}
a.butt1:hover{
	background-color:white;
	color:rgb(95, 207, 128);
	border-color:rgb(95, 207, 128);
}
.ico-box{
	margin-top:64px;
	padding-top:40px;
	border:1px solid rgb(219 209 209 / 75%);
}
.ico-box i {
    color:lightgreen;
    margin-left:90px;
	background-color:rgb(245 245 245);
}
/*---------------choose end--------------------*/
/*---------------ico-content start-------------------*/
.ico-content{
    border: 1px solid rgb(228 221 221);
}
.ico-content:hover{
	color:rgb(95 207 128);
	border:1px solid rgb(95 207 128); 
}
i.icofont-cup-cake {
    color: rgb(255 187 44);
}
i.icofont-chart-bar-graph {
    color: rgb(85 120 255);
}
i.icofont-calendar {
    color: rgb(232 3 104);
}
i.icofont-paint-brush {
    color: rgb(227 97 255);
}
i.icofont-database {
    color: rgb(71 174 255);
}
i.icofont-ui-rotation {
    color: rgb(255 167 110);
}
i.icofont-newspaper {
    color: rgb(17 219 207);
}
i.icofont-hotel {
    color: rgb(66 51 255);
}
i.icofont-anchor {
    color: rgb(178 144 79);
}
i.icofont-music-alt {
    color: rgb(178 9 105);
}
i.icofont-network-tower {
    color: rgb(255 88 40);
}
i.icofont-finger-print {
    color: rgb(41 204 97);
}
/*---------------ico-content end--------------------*/
/*---------------courses start----------------------*/
.heading pre{
    color: rgb(170 170 170);
    letter-spacing: 2px;
}
.line{
	background-color:lightgreen;
    height: 1px;
    width:100px;
    margin-top:-32px;
    margin-left:100px;
}
.card-head h6{
    border:1px solid lightgreen;
    color:white;
    background-color:rgb(95, 207, 128);
}
.symbol {
    padding-left: 116px;
}
.symbol span {
	font-family:"Poppins",sans-serif;
}
.card-title:hover{
	color:rgb(95, 207, 128);
}
.card-body p {
    color:rgb(119 119 119);
	font-size:15px;
}
.line1{
	height:1px;
	background-color:rgb(228 221 221);
}
.ico-heart img{
    width: 50px;
    height: 50px;
}
.ico-heart h2 {
    color:grey;
}
.ico-heart span{
	font-family:"Poppins",sans-serif;
}
/*---------------courses end--------------------*/
/*---------------img-link start----------------------*/
p.card-para{
    text-align:center;
    font-size:14px;
}
.card i:hover{
	color:rgb(95, 207, 128);
}
.card i{
	color:rgb(126 148 134);
}
/*---------------img-link end----------------------*/
/*---------------details start---------------------*/
.details {
   background-color:rgb(249, 250, 249); 
}
.add{
	color:black;
	height:280px;
}
.link1 i{
	color:rgb(95 207 128);
}
.link1 a{
	color:rgb(119 119 119);
}
.link1 a:hover{
	color:rgb(95 207 128);
}
.news form {
    overflow:hidden;
    padding-right:106px;
    margin-right:21px;
	border: 1px solid rgb(224 229 226);
}
.news input {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    border: 1px solid rgb(255 255 255);
}
.news button {
    right:0;
    top:0;
    background-color:rgb(95 207 128);
    color:white;
    cursor:pointer;
    border: 1px solid rgb(95 207 128);
}
.news button:hover{
	background-color:rgb(58, 193, 98);
}
/*---------------details ends----------------------*/
/*---------------media start---------------------*/
.media{
	background-color:rgb(238 240 239);
}
a.text-decoration-none {
    top: 40px;
    left: 94px;
}