/*--------------header section start---------------*/
.navbar{
	width:100%;
    position:fixed;
    top:0;
    z-index:2;
} 
.navbar-light .logo{
    color: rgb(95 207 128);
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: rgb(95 207 128);
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(55 66 59);
    font-size: 16px;
    font-weight: 600;
}
.navbar-nav .nav-item .nav-link:hover{
	color:rgb(95 207 128);
}
.dropdown{
	position:relative;
} 
.dropdown-menu{
	position:absolute;
	left:0;
	top:90%;
	min-width:190px;
	background-color:white;
	box-shadow:1px -2px 18px -6px #ccc;
	border-radius:10px;
	text-align:left;
	transform:translateY(20px);
	opacity:0;
	visibility:hidden;
	transition:all 0.5s ease;
}
.dropdown:hover .dropdown-menu{
	transform:translateY(0);
	opacity:1;
	visibility:visible;
}
.dropdown-menu li{
	display:block;
}
.dropdown ul a:hover{
	color:rgb(144 238 144);
}
.dropdown-menu li a{
	text-align:left;
	color:black;
	font-size:14px;
	display:block;
	padding-top:8px;
	padding-bottom:8px;
	padding-left:15px;
	padding-right:15px;
	font-family:"";
}
.dropdown-sub{
	position:relative;
}
.dropdown-nav-sub{
	position:absolute;
	top:0;
	left:100%;
	min-width:100%;
	background-color:white;
	box-shadow:1px -2px 18px -6px #ccc;
	border-radius:10px;
	text-align:left;
	transform:translateX(-15px);
	font-family:"";
	opacity:0;
	visibility:hidden;
	transition:all 0.5s ease;
}
.dropdown-sub:hover .dropdown-nav-sub{
	transform:translateX(0px);
	opacity:1;
	visibility:visible;
}
.btn{
	border:1px solid rgb(95 207 128) ;
	background-color:rgb(95 207 128);
}
a.btn:hover{
	background-color:rgb(58 193 98);
	color:white;
}
.btn:focus{
	box-shadow:none;
}
.footer{
    position:fixed;
    bottom:10px;
    right:10px;
    background-color:rgb(95 207 128);
    height:46px;
    width:46px;
    border-radius:75%;
    z-index:2;
}
.footer a{
	text-decoration:none;
}
.footer i{
    font-size:30px;
    color:white;
    position:absolute;
    top:8px;
	right:8px;
}
/*------------header section end------------------*/
/*------------banner section start-----------------*/
.banner{
    background-image:linear-gradient(180deg, rgba(0, 0, 0, 40%), rgba(0, 0, 0, 40%)),url(../web-assets/hero-bg.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment:fixed;
	height:474px;
}
.banner-content{
	padding-top:104px;
}
.banner-content h2{
	font-size:48px;
}
.banner-content p{
	color:rgb(238 238 238);
}
a.butt{
	border: 2px solid rgb(255 255 255);
}
a.butt:hover{
	background-color:rgb(95, 207, 128);
	color:white;
	border-color:rgb(95, 207, 128);
}
/*-------------banner section end-------------------*/
/*---------------number start--------------------*/
.number-section{
	background-color:rgb(245 245 245);
}
.numbers-box span{
	color:rgb(81 199 81/78%);
	font-family:"Poppins",san-serif;
    font-size: 46px;
}
/*---------------number end--------------------*/
/*---------------choose start-------------------*/
.ch-content{
	border:1px solid rgb(118 187 118);
	background-color:rgb(95, 207, 128);
	padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    border-radius: 6px;
}
.ch-content p{
	font-size: 17px;
}
a.butt2{
    color: white;
    border: 1px solid rgb(134 219 159);
	background-color:rgb(134 219 159);
}
a.butt2:hover{
	background-color:white;
	color:rgb(95, 207, 128);
	border-color:rgb(95, 207, 128);
}
.ico-box{
	margin-top: 30px;
    padding-top: 50px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid rgb(238 240 239);
}
.ico-box h3{
	font-size:20px;
}
.ico-box p{
	font-size:15px;
	color:rgb(132 132 132);
}
.ico-box i {
    color:lightgreen;
	background-color:rgb(245 245 245);
}
/*---------------choose end--------------------*/
/*---------------ico-content start-------------------*/
.ico-content{
    border: 1px solid rgb(228 221 221);
	padding-left:20px;
	padding-right:20px;
	padding-top:20px;
	padding-bottom:20px;
}
.ico-content:hover{
	color:rgb(95 207 128);
	border:1px solid rgb(95 207 128); 
}
i.icofont-cup-cake {
    color: rgb(255 187 44);
}
i.icofont-chart-bar-graph {
    color: rgb(85 120 255);
}
i.icofont-calendar {
    color: rgb(232 3 104);
}
i.icofont-paint-brush {
    color: rgb(227 97 255);
}
i.icofont-database {
    color: rgb(71 174 255);
}
i.icofont-ui-rotation {
    color: rgb(255 167 110);
}
i.icofont-file-text {
    color: rgb(17 219 207);
}
i.icofont-hotel {
    color: rgb(66 51 255);
}
i.icofont-anchor {
    color: rgb(178 144 79);
}
i.icofont-music-alt {
    color: rgb(178 9 105);
}
i.icofont-network-tower {
    color: rgb(255 88 40);
}
i.icofont-finger-print {
    color: rgb(41 204 97);
}
/*---------------ico-content end--------------------*/
/*---------------courses start----------------------*/
.heading h2{
    color: rgb(170 170 170);
    letter-spacing: 2px;
}
.heading span{
	background-color:lightgreen;
    height: 1px;
    width:100px;
}
.card-head h6{
    border:1px solid lightgreen;
    color:white;
    background-color:rgb(95, 207, 128);
}
i.icofont-ui-user {
    color: grey;
}
.ico-img-1{
    padding-left: 132px;
}
i.icofont-heart {
    color: grey;
}
.symbol span {
	font-family:"Poppins",sans-serif;
}
.card-title:hover{
	color:rgb(95, 207, 128);
}
.card-body p {
    color:rgb(119 119 119);
	font-size:15px;
}
.line1{
	height:1px;
	background-color:rgb(228 221 221);
}
.ico-heart img{
    width: 50px;
    height: 50px;
}
.ico-heart h2 {
    color:grey;
}
.ico-heart span{
	font-family:"Poppins",sans-serif;
	color: grey;
}
/*---------------courses end--------------------*/
/*---------------img-link start----------------------*/
p.card-para{
    text-align:center;
    font-size:14px;
}
.card i:hover{
	color:rgb(95, 207, 128);
}
.card i{
	color:rgb(126 148 134);
}
/*---------------img-link end----------------------*/
/*---------------details start---------------------*/
.details {
   background-color:rgb(249, 250, 249); 
}
.add{
	color:black;
	height:280px;
}
.link1 i{
	color:rgb(95 207 128);
}
.link1 a{
	color:rgb(119 119 119);
}
.link1 a:hover{
	color:rgb(95 207 128);
}
.news form {
    overflow:hidden;
    padding-right:106px;
    margin-right:21px;
	border: 1px solid rgb(224 229 226);
}
.form{
    padding-right: 130px;
}
.news input {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    border: 1px solid rgb(255 255 255);
}
.news button {
    right:0;
    top:0;
    background-color:rgb(95 207 128);
    color:white;
    cursor:pointer;
    border: 1px solid rgb(95 207 128);
}
.news button:hover{
	background-color:rgb(58, 193, 98);
}
/*---------------details ends----------------------*/
/*---------------media start---------------------*/
.media{
	background-color:rgb(238 240 239);
}
.design p{
	margin-bottom:0px;
}
.design a{
	color:rgb(95 207 128);
}
.design a:hover{
	color:rgb(58, 193, 98);
}
.socialmedia {
    text-align: right;
}
.socialmedia a{
	background-color:rgb(95 207 128);
}
.socialmedia a:hover{
	background-color:rgb(58, 193, 98);
}
/*-----------event start-------------------*/
/*.Events{
	background-color:rgb(95 207 128);
	margin-top: 76px;
}
.eve-img img{
	transition:all 0.5s ease;
}
.eve-img:hover img{
	transform:scale(1.1);
}
.eve-hover:hover h2{
	border-top:4px solid rgb(58 193 98);
	color:rgb(95 207 128);
	transition:all 0.5s ease;
}
.eve-design{
	border:1px solid white;
	box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
	position: relative;
    top: -60px;
}
.eve-design p{
	font-size: 14px;
}*/
/*----------------event-end----------------*/
/*----------------about start--------------------*/
/*----------------img-content start----------------*/
.about{
    background-color:rgb(95 207 128);
	margin-top:76px;
}
/*----------------img-content end----------------*/
/*---------------test start--------------------*/
.test-heading h6{
	color:rgb(170 170 170);
}
.lines{
	background-color: lightgreen;
    height: 1px;
    width: 160px;
    position: relative;
    top: -26px;
    left: 128px;
}
.owl-carousel .owl-item img {
    display: block;
    width:85px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background:rgb(95 207 128);
}
.owl-theme .owl-dots .owl-dot span {
    background-color: white;
    border: 1px solid rgb(95 207 128);
}
.no-js .owl-carousel, .owl-carousel.owl-loaded {
    margin-bottom: 40px;
}
.card-1{
	margin-left:68px;
}
.card-body-1 {
    position: relative;
    padding-left: 70px;
    padding-top: 44px;
    padding-right: 20px;
}
.card-body-1 img{
	width:85px;
	border-radius:6px;
}
.card-body-2 {
    position: absolute;
    top: 38px;
    left: -42px;
}
.card i{
	color:rgb(193 236 206)!important;
}
.card i:hover{
	color:none;
}
.card-text-1 i:first-child{
    display:inline-block;
    transform:translateY(-10px);
}	
.card-text-1 i:last-child{
	display:inline-block;
    transform:translateY(10px);
}
.card-text-1 {
	color: rgb(68 68 68);
}
/*---------------test end----------------------*/
/*---------------about end---------------------*/
/*----------------courses start-------------------*/
.Courses{
    background-color:rgb(95 207 128);
	margin-top:76px;
}
/*----------------courses end-------------------*/
/*----------------price start-------------------*/
.pricing{
	background-color:rgb(95 207 128);
	margin-top:76px;
}
.title{
	background-color:rgb(248, 248, 248);
	color:rgb(119 119 119);
}
.zero{
	color:rgb(95 207 128);
	font-family:"",san-serif;
}
.word{
	color:rgb(186 186 186);
	font-weight:normal;
}
.up{
    position: relative!important;
    top: -18px;
	left: -2px;
	color:rgb(95 207 128);
}
.strike{
	color:rgb(204 204 204);
}
.btn-1{
	border:1px solid rgb(95 207 128) ;
	background-color:rgb(95 207 128);
}
.bg{
	background-color:rgb(248, 248, 248);
}
.title-active{
	background-color:rgb(95 207 128);
	color:white;
}
span.position-absolute{
    transform: rotate(42deg);
    width: 76%;
    top: 4%;
    right: -23%;
    background-color:rgb(95 207 128);
    overflow: hidden;
}
/*----------------price end-------------------*/
/*----------------trainer start-------------------*/
/*---------------img-link start----------------------*/
.Trainers{
	background-color:rgb(95 207 128);
	margin-top:76px;
}
p.card-para{
    text-align:center;
    font-size:14px;
}
.card i:hover{
	color:rgb(95, 207, 128);
}
.card i{
	color:rgb(126 148 134);
}
/*---------------img-link end----------------------*/
/*----------------trainer end-------------------*/
/*----------------contact start-------------------*/
.Contact{
	background-color:rgb(95 207 128);
	margin-top:76px;
}
.contact-2{
	width:100%;
}
.info h4{
	padding-left:60px;
}
.info p{
	font-family:"";
	padding-left:60px;
}
.info i{
    top:16%;
	color:rgb(95 207 128);
	background-color:rgb(236 249 240);
}
.name{
	height:130px;
}
.btn-2{
	border:1px solid rgb(95 207 128) ;
	background-color:rgb(95 207 128);
	margin-left: 290px;
}
.form-control:focus {
	box-shadow:none;
	border-color:rgb(95 207 128);
}
/*----------------contact end-------------------*/



